<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Note that the objectbox-android AAR ships a different manifest! -->

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- When targeting API level 28 or higher to run ObjectBox Admin foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- When targeting API level 33 or higher to post the initial ObjectBox Admin notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <!-- ObjectBox Admin -->
        <service
            android:name=".AdminKeepAliveService"
            android:exported="false" />

        <receiver
            android:name=".AdminNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.objectbox.action.KEEP_ALIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
